<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Mortgage</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</head>
<body>
 <nav class="navbar navbar-light bg-light py-3">
        <div class="container-fluid">
            <a class="navbar-brand fs-2" href="{{ url_for('index') }}">
                <img src="/static/mortgage_calculator_logo.png" alt="Logo" width="90" height="70" class="d-inline-block align-top">
                Mortgage Monitor
            </a>
            <div class="d-flex align-items-center">
                <span class="navbar-text me-3 display-6">Hello &#128512;, <span class="text-primary display-6">{{ username }}</span>!</span>
                <button class="btn btn-outline-secondary me-2 fs-5" id="updatePasswordBtn">Update Password</button>
                <button class="btn btn-outline-secondary me-2 fs-5" id="removeAccountBtn">Remove Account</button>
                <a class="btn btn-outline-secondary ms-3 fs-5" href="{{ url_for('logout') }}">Logout</a>
            </div>
        </div>
    </nav>
    <div class="container py-5">
        <div class="row gx-5">
            <div class="col">
                <div class="main_mortgage p-4 border bg-light">
                    <h1 class="text-center">Calculate Mortgage</h1>
                    <p class="text-left text-secondary">After calculating your estimated payment, you can input an override amount, provided it is higher than the estimated repayment. Once you're satisfied with your entries, confirm the mortgage, and your details will be displayed on the main page.</p>
                    <form id="mortgageForm" action="{{ url_for('new_mortgage') }}" method="POST">
                        <input type="hidden" name="action" value="calculate">
                        <div class="mb-3">
                            <label for="mortgage_name" class="form-label">Mortgage Name:</label>
                            <input type="text" class="form-control" id="mortgage_name" name="mortgage_name" required>
                        </div>
                        <div class="mb-3">
                            <label for="principal" class="form-label">Principal ($):</label>
                            <input type="number" class="form-control" id="principal" name="principal" required>
                        </div>
                        <div class="mb-3">
                            <label for="interest" class="form-label">Interest (%):</label>
                            <input type="number" class="form-control" id="interest" name="interest" step="0.01" required>
                        </div>
                        <div class="mb-3">
                            <label for="term" class="form-label">Term (Years):</label>
                            <input type="number" class="form-control" id="term" name="term" required>
                        </div>
                        <div class="mb-3">
                            <label for="deposit" class="form-label">Deposit ($):</label>
                            <input type="number" class="form-control" id="deposit" name="deposit">
                        </div>
                        <div class="mb-3">
                            <label for="extra_costs" class="form-label">Extra Costs ($):</label>
                            <input type="number" class="form-control" id="extra_costs" name="extra_costs">
                        </div>
                        <div class="mb-3">
                            <label for="comment" class="form-label">Comment:</label>
                            <textarea class="form-control" id="comment" name="comment"></textarea>
                        </div>
                        <div class="d-flex justify-content-between">
                            <button type="button" class="btn btn-secondary" onclick="clearForm()">Clear</button>
                            <button type="submit" class="btn btn-primary" onclick="document.getElementById('mortgageForm').action.value='calculate'">Calculate</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col">
                <div class="result p-4 border bg-light">
                    <h1 class="text-center">Mortgage Results</h1>
                    {% if results %}
                        <h5 class="text-center text-capitalize text-secondary">Initial Payment Breakdown</h5>
                        <p><strong>Mortgage Name:</strong> {{ mortgage_name }}</p>
                        <p><strong>Initial Principal:</strong> $ {{ principal }} </p>
                        <p><strong>Initial Interest:</strong> {{ interest }} %</p>
                        <p><strong>Initial Term:</strong> {{ term }} years</p>
                        <p><strong>Initial Deposit:</strong> $ {{ deposit }}</p>
                        <p><strong>Initial Extra Costs:</strong> $ {{ extra_costs }}</p>
                        <hr>
                        <p><strong>Total Amount Borrowed:</strong> $ {{ results.initial_payment_breakdown.total_amount_borrowed }}</p>
                        <p><strong>Monthly Estimated Repayment:</strong> $ {{ results.initial_payment_breakdown.estimated_repayment_monthly }}</p>
                        <p><strong>Monthly Interest:</strong> $ {{ results.initial_payment_breakdown.initial_interest_monthly }}</p>
                        <p><strong>Monthly Principal:</strong> $ {{ results.initial_payment_breakdown.initial_principal_monthly }} </p>
                        <p><strong>Monthly Extra:</strong> $ {{ results.initial_payment_breakdown.initial_extra_monthly }}</p>
                        <p><strong>Monthly Total Repayment:</strong> $ {{ results.initial_payment_breakdown.total_repayment_monthly }}</p>
                        <hr>
                        <p><strong>Fortnightly Estimated Repayment:</strong> $ {{ results.initial_payment_breakdown.estimated_repayment_fortnightly }}</p>
                        <p><strong>Fortnightly Interest:</strong> $ {{ results.initial_payment_breakdown.initial_interest_fortnightly }}</p>
                        <p><strong>Fortnightly Principal:</strong> $ {{ results.initial_payment_breakdown.initial_principal_fortnightly }}</p>
                        <p><strong>Fortnightly Extra:</strong> $ {{ results.initial_payment_breakdown.initial_extra_fortnightly }}</p>
                        <p><strong>Fortnightly Total Repayment:</strong> $ {{ results.initial_payment_breakdown.total_repayment_fortnightly }}</p>
                        {% if results.comments %}
                            <h3>Comment</h3>
                            {% for comment in results.comments %}
                                <p>{{ comment }}</p>
                            {% endfor %}
                        {% endif %}
                        <p class="text-danger p-3 mb-2 bg-danger text-white"> NOTE: The override amount must be higher than the estimated repayment.</p>
                        <form id="overrideForm" action="{{ url_for('new_mortgage') }}" method="POST">
                            <input type="hidden" name="mortgage_name" value="{{ mortgage_name }}">
                            <input type="hidden" name="principal" value="{{ principal }}">
                            <input type="hidden" name="interest" value="{{ interest }}">
                            <input type="hidden" name="term" value="{{ term }}">
                            <input type="hidden" name="deposit" value="{{ deposit }}">
                            <input type="hidden" name="extra_costs" value="{{ extra_costs }}">
                            <input type="hidden" name="comment" value="{{ comment }}">
                            <div class="form-check mb-3">
                                <input type="checkbox" class="form-check-input" id="payment_override_enabled" name="payment_override_enabled" onchange="toggleOverrideFields(this)" {% if payment_override_enabled %} checked {% endif %}>
                                <label class="form-check-label" for="payment_override_enabled">Enable Payment Override</label>
                            </div>
                            <div class="mb-3">
                                <label for="monthly_payment_override" class="form-label">Monthly Payment Override ($):</label>
                                <input type="number" class="form-control" id="monthly_payment_override" name="monthly_payment_override" step="0.01" {% if not payment_override_enabled %} disabled {% endif %} value="{{ monthly_payment_override }}">
                            </div>
                            <div class="mb-3">
                                <label for="fortnightly_payment_override" class="form-label">Fortnightly Payment Override ($):</label>
                                <input type="number" class="form-control" id="fortnightly_payment_override" name="fortnightly_payment_override" step="0.01" {% if not payment_override_enabled %} disabled {% endif %} value="{{ fortnightly_payment_override }}">
                            </div>
                            <div class="d-flex justify-content-between">
                                <button type="button" class="btn btn-secondary" onclick="clearOverrideForm()">Clear Override</button>
                                <button type="button" class="btn btn-secondary" onclick="submitForm('recalculate')">Recalculate with Override</button>
                                <button type="button" class="btn btn-primary" onclick="submitForm('save_mortgage')">Save Mortgage</button>
                            </div>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <script>
        function clearForm() {
            document.getElementById("mortgageForm").reset();
            var resultItems = document.querySelectorAll(".result-container .result-item p");
            resultItems.forEach(function (item) {
                item.innerHTML = "";
            });
        }

        function clearOverrideForm() {
            document.getElementById("overrideForm").reset();
            toggleOverrideFields({checked: false});
        }

        function toggleOverrideFields(checkbox) {
            var monthlyOverrideField = document.getElementById("monthly_payment_override");
            var fortnightlyOverrideField = document.getElementById("fortnightly_payment_override");
            if (checkbox.checked) {
                monthlyOverrideField.disabled = false;
                fortnightlyOverrideField.disabled = false;
            } else {
                monthlyOverrideField.disabled = true;
                fortnightlyOverrideField.disabled = true;
                monthlyOverrideField.value = "";
                fortnightlyOverrideField.value = "";
            }
        }

        function submitForm(action) {
            var form = document.getElementById("overrideForm");
            form.action = "{{ url_for('new_mortgage') }}";
            var actionInput = document.createElement("input");
            actionInput.type = "hidden";
            actionInput.name = "action";
            actionInput.value = action;
            form.appendChild(actionInput);
            form.submit();
        }

         $(document).ready(function() {
        $("#updatePasswordBtn").click(function() {
            $("#updatePasswordModal").modal('show');
        });

        $("#updatePasswordForm").submit(function(event) {
            event.preventDefault();
            $.ajax({
                type: "POST",
                url: "{{ url_for('update_password') }}",
                data: $(this).serialize(),
                success: function(response) {
                    alert(response.message);
                    $("#updatePasswordModal").modal('hide');
                },
                error: function(xhr, status, error) {
                    alert("Error: " + xhr.responseText);
                }
            });
        });

        $("#removeAccountBtn").click(function() {
            $("#removeAccountModal").modal('show');
        });

        $("#removeAccountForm").submit(function(event) {
            event.preventDefault();
            if (confirm("Are you sure you want to remove your account?")) {
                $.ajax({
                    type: "POST",
                    url: "{{ url_for('remove_user') }}",
                    success: function(response) {
                        alert(response.message);
                        window.location.href = "{{ url_for('login') }}";
                    },
                    error: function(xhr, status, error) {
                        alert("Error: " + xhr.responseText);
                    }
                });
            }
        });
    });
 </script>
</body>
</html>
