<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>

<div class="container">
    <div class="center">
        <h1>Sign Up</h1>
        <form action="{{ url_for('signup') }}" method="post">
            <div class="txt_field">
                <i class="fas fa-user input-icon"></i>
                <input type="text" name="username" required>
                <span></span>
                <label>Username</label>
            </div>
            <div class="txt_field">
                <i class="fas fa-lock input-icon"></i>
                <input type="password" name="password" required>
                <span></span>
                <label>Password</label>
            </div>
            <div class="txt_field">
                <i class="fas fa-lock input-icon"></i>
                <input type="password" name="confirm_password" required>
                <span></span>
                <label>Confirm Password</label>
            </div>

            <input name="submit" type="Submit" value="Sign Up">
            <div class="signup_link">
                Already a member? <a href="{{ url_for('login') }}">Log in</a>
            </div>
        </form>
    </div>
</div>

</body>
</html>


