<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Mortgage</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-light bg-light py-3">
        <div class="container-fluid">
            <a class="navbar-brand fs-2" href="{{ url_for('index') }}">
                <img src="/static/mortgage_calculator_logo.png" alt="Logo" width="90" height="70" class="d-inline-block align-top">
                Mortgage Monitor
            </a>
            <div class="d-flex align-items-center">
                <span class="navbar-text me-3 display-6">Hello &#128512;, <span class="text-primary display-6">{{ username }}</span>!</span>
                <button class="btn btn-outline-secondary me-2 fs-5" id="updatePasswordBtn">Update Password</button>
                <button class="btn btn-outline-secondary me-2 fs-5" id="removeAccountBtn">Remove Account</button>
                <a class="btn btn-outline-secondary ms-3 fs-5" href="{{ url_for('logout') }}">Logout</a>
            </div>
        </div>
    </nav>
     <div class="container-fluid py-5">
        <div class="row gx-5">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="main_mortgage p-4 border bg-light">
                    <h1 class="text-center">Update Mortgage</h1>
                    <form id="updateMortgageForm" action="{{ url_for('update_mortgage', mortgage_id=mortgage.mortgage_id) }}" method="POST">
                        <div class="mb-3">
                            <label for="new_interest_rate" class="form-label fs-4">New Interest Rate (%):</label>
                            <input type="number" class="form-control fs-4" id="new_interest_rate" name="new_interest_rate" step="0.01" value="{{ mortgage.initial_interest * 100 }}" required>
                        </div>
                        <div class="mb-3">
                            <label for="current_principal" class="form-label fs-4">Current Principal ($):</label>
                            <input type="number" class="form-control fs-4" id="current_principal" name="current_principal" value="{{ mortgage.initial_principal }}" required>
                        </div>
                        <div class="mb-3">
                            <label for="extra_payment" class="form-label fs-4">Extra Payment ($):</label>
                            <input type="number" class="form-control fs-4" id="extra_payment" name="extra_payment" value="0">
                        </div>
                        <div class="mb-3">
                            <label for="borrowed_amount" class="form-label fs-4">Borrowed Amount ($):</label>
                            <input type="number" class="form-control fs-4" id="borrowed_amount" name="borrowed_amount" value="0">
                        </div>
                        <div class="mb-3">
                            <label for="updated_monthly_payment" class="form-label fs-4">Updated Monthly Payment ($):</label>
                            <input type="number" class="form-control fs-4" id="updated_monthly_payment" name="updated_monthly_payment" value="0">
                        </div>
                        <div class="mb-3">
                            <label for="updated_fortnightly_payment" class="form-label fs-4">Updated Fortnightly Payment ($):</label>
                            <input type="number" class="form-control fs-4" id="updated_fortnightly_payment" name="updated_fortnightly_payment" value="0">
                        </div>
                        <button type="submit" class="btn btn-primary fs-4">Update Mortgage</button>
                    </form>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="result p-4 border bg-light">
                    <h1 class="text-center">Current Mortgage Details</h1>
                    <p class="fs-4 mb-3">Mortgage Name: {{ mortgage.mortgage_name }}</p>
                    <p class="fs-4 mb-3">Initial Principal: $ {{ mortgage.initial_principal }}</p>
                    <p class="fs-4 mb-3">Initial Interest: {{ mortgage.initial_interest * 100 }} %</p>
                    <p class="fs-4 mb-3">Initial Term: {{ mortgage.initial_term }} years</p>
                    <p class="fs-4 mb-3">Initial Deposit: $ {{ mortgage.deposit }}</p>
                    <p class="fs-4 mb-3">Initial Extra Costs: $ {{ mortgage.extra_costs }}</p>
                    <p class="fs-4 mb-3">Monthly Payment Override: $ {{ mortgage.monthly_payment_override }}</p>
                    <p class="fs-4 mb-3">Fortnightly Payment Override: $ {{ mortgage.fortnightly_payment_override }}</p>
                    <p class="fs-4 mb-3">Start Date: {{ mortgage.start_date.strftime('%Y-%m-%d') }}</p>
                </div>
            </div>
        </div>
    </div>
    <form id="addCommentForm" action="{{ url_for('add_comment', mortgage_id=mortgage_id) }}" method="POST">
    <div class="mb-3">
        <label for="comment" class="form-label fs-4">Add Comment:</label>
        <textarea class="form-control fs-4" id="comment" name="comment" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary fs-4">Add Comment</button>
</form>


    <script>
        function toggleOverrideFields(checkbox) {
            var monthlyOverrideField = document.getElementById("monthly_payment_override");
            var fortnightlyOverrideField = document.getElementById("fortnightly_payment_override");
            if (checkbox.checked) {
                monthlyOverrideField.disabled = false;
                fortnightlyOverrideField.disabled = false;
            } else {
                monthlyOverrideField.disabled = true;
                fortnightlyOverrideField.disabled = true;
                monthlyOverrideField.value = "";
                fortnightlyOverrideField.value = "";
            }
        }

        // Initialize override fields based on initial checkbox state
        window.onload = function() {
            var checkbox = document.getElementById("payment_override_enabled");
            toggleOverrideFields(checkbox);
        };
    </script>
</body>
</html>
